.amount-usd{
    display: flex;
 }

.nav-list {
  list-style-type: none;
  padding-left: 0;
}

.nav-list li {
  display: inline;
  margin-right: 15px;
}

.nav-link-custom {
  text-decoration: none; 
  color: black; 
}

.nav-link-custom:hover {
  color: blue; 
}

.active {
  color: blue; 
  text-decoration: none;
}




